﻿@page "/product-categories"
@layout MainLayout
@inherits Novorfay.Pages.ProductCategoriesComponent

@using Radzen
@using Radzen.Blazor
@using Novorfay.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using Novorfay.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Product Categories">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getProductCategoriesResult" Count="@getProductCategoriesCount" TItem="Novorfay.Models.ConData.ProductCategory" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.ProductCategory" Property="CategoryID" Title="Category ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.ProductCategory" Property="CategoryName" Title="Category Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Novorfay.Models.ConData.ProductCategory" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="novorfayModelsConDataProductCategory">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, novorfayModelsConDataProductCategory))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
